@font-face {
    font-family: "Righteous";
    src:url("Righteous-Regular.ttf");
}
@font-face {
    font-family: "Poiret One";
    src:url("PoiretOne-Regular.ttf");
}
.view1{
    background-color: teal;
    background-image: url('../images/backgrounds/1450.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
        
.view3 {
    background-color: #1C7B73;
    background-image: url('../images/backgrounds/four.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
        
.view5 {
            background-color: #28D5CF;
            background-image: url('../images/backgrounds/one.jpg');
            background-repeat: no-repeat;
}
        
.subview-a {
            background-color: #2ABAAE;
            /*background-image: url('../images/backgrounds/seven.jpg');*/
            background-repeat: no-repeat;
            background-size: cover;
}
        
.subview-b {
    background-color: #0EAB91;
            background-image: url('../images/backgrounds/two.jpg');
            background-repeat: no-repeat;
            background-size: cover;
}
        
.subview-c {
    background-color: #13AD58;
    background-image: url('../images/backgrounds/three.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
        
.subview-d {
    background-color: #13AD58;
    background-image: url('../images/backgrounds/eight.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
        
.subview-e {
    background-color: #13AD58;
    background-image: url('../images/backgrounds/five.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
        
        /* Styles specific for this example */
        
a {
            text-decoration: none;
            font-size: 13px;
            color: #000;
}
        
.menu {
    position: fixed;
    margin-top: 10px;
    left: 10px;
    width: 60%;
    font-family: Arial;
    font-size: 20px;
    z-index: 10;
}
        /* Extends predefined vs-center class */
        
.vs-center {
    font-family: Arial, Tahoma;
    font-family: Poiret One, cursive;
    font-size: 16px;
    font-weight: bold;
}
.landing-page{
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.landing-top{
    height: 50%;
    width: 50%;
    /*background-color: green;*/
}
.landing-top h2{
    font-size: 5.5em;
    font-family: "Righteous";
    opacity: 0.8;
    font-weight: 500;
    text-shadow: 0.05em 0.05em 0.1em teal;
}
hr{
    position: relative;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 50%;
    top: -20px; 
}
.landing-top p{
    position: relative;
    top: -45px;
    font-size: 1.3em;
    color: green;
    font-weight: bolder;
}
.landing-bottom{
    height: 30%;
    width: 50%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}
.circles{
    background-color: teal;
    height: 150px;
    width: 150px;
    margin:1px;
    border-radius: 50%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.circle-content{
    height: 95%;
    width: 95%;
    background-color: #CFD8DC;
    border-radius: 50%;
}
.content-top{
    height: 75%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: flex-end;
    align-items: flex-end;
}
.content-bottom{
    height: 25%;
    background-color: teal;
    line-height: 35px;
    color: white;
    font-weight: 300;
    cursor:pointer;
}
.img1{
    height: 88%;
}
.small{
    height: 60%;
    position: relative;
    top: -10px;

}
/* the spans start.***/
span {
   display:inline-block;
   margin-left: -20px;
   transform-origin: 50% 70%;
}


span:nth-child(2n) {
}

span:nth-child(1) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) both;
}

span:nth-child(2) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .4s both;
}

span:nth-child(3) {
 animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .6s both;
}

span:nth-child(4) {
 animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .8s both;
}

span:nth-child(5) {
  /*margin-left:-28px;*/
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1s both;
 }

span:nth-child(6) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.2s both;
}

span:nth-child(7) { 
    margin-left: 30px;
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.3s both;
}
span:nth-child(8) { 
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.4s both;
}
span:nth-child(9) { 
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.5s both;
}
span:nth-child(10) { 
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.6s both;
}
span:nth-child(11) { 
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.7s both;
}
span:nth-child(12) { 
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.8s both;
}
span:nth-child(13) { 
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.9s both;
}
span:nth-child(14) { 
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 2.6s both;
}

@keyframes flipUp {
  from {transform: rotateX(90deg);}
  to {tranform: rotateX(0deg);}
}


/* the spans end*/
@media screen and (max-width: 400px){
.landing-top{
    height: 60%;
    width: 100%;
    /*background-color: green;*/
}
.landing-top h2{
    font-size: 3.5em;
    font-family: "Righteous";
    opacity: 0.8;
    font-weight: 500;
    text-shadow: 0.05em 0.05em 0.1em teal;
}
hr{
    position: relative;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 50%;
    top: -20px; 
}
.landing-top p{
    position: relative;
    top: -45px;
    font-size: 1.0em;
    color: green;
    font-weight: bolder;
}
.landing-bottom{
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    flex-direction: column;
}
span:nth-child(7) { 
    margin-left: 10px;
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.3s both;
}
}



/***** about ******/
#about{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.about-content {
    height: 90%;
    width: 90%;
    background-color: green;
}